---
---

<html>
{% include head.html title="StenoTopper Versions" %}
<body>
    <div id="wrapper">
        <header>
            <h1 class="center-text">
                <a href="./index.html" class="ico-home suppressed-link" style="float:left;"></a>
                Released Versions
            </h1>
            <hr>
        </header>
        {% for post in site.posts %}
            <!-- Add a selector class if the latest release -->
            <div class="version-block {% if post.version == site.version %}current{% endif %}">
                <h1>
                    <a href="https://github.com/cemrajc/stenotoppers/releases/v{{ post.version}}.0">Version {{ post.version }} {% if post.version == site.version %}<small>(latest)</small>{% endif %} <small class="ico-link"></small></a>
                    <span style="float: right;" class="date">{{ post.date | date_to_string }}</span>

                </h1>
                <h2>Authored by {{ post.developers }} - Status: {{ post.status }}</h2>
                <div class="version-note">{{ post.content }}</div>
            </div>
        {% endfor %}
    </div>
</body>
</html>