<head>
    <title>{% if include.title %}{{ include.title }}{% else %}StenoToppers{% endif %}</title>
    <meta charset="utf-8">
    <meta name="description" content="Convert your mechanical N-key rollover (NKRO) keyboard into a stenotype look-alike with these 3D printable keycaps. Best for use with the Plover steno software.">
    <meta name="keywords" content="steno, stenotype, keycap, plover, 3d printing, models">

    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/icons.css">
    <link rel="icon" href="./img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100&text=StenoToppers" rel="stylesheet">
    <script src="./js/main.js"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MQZHJTC');</script>
    <!-- End Google Tag Manager -->
</head>
